body {
    background: #FED37F;
}

#imgWrap {
    text-align: center;   
}

h1 {
    text-align: center;
}

.create-form {
    text-align: center;
}

textarea {
    height: 5em;
    width: 20em;
    background-color: white !important;
    font-size: 20pt;
    text-align: center;
}

#submitBtn {
    background: #3D7DB4;
    color: #ffffff;
    font-size: 100%;
    cursor: pointer;
    letter-spacing: 0.21px;
    border-radius: 8px;
    padding: 4px 10px;
    margin-top: 1%;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
}

#submitBtn:hover {
    background: #366596;
}

#formDir {
    color: #366596;
}

span {
    background: #F6F6F8;
}

.devour-burger:focus, .delete-item:focus  {
    background: #366596 !important;
}

.col {
  margin-left: 7em;
}

h3 {
    text-decoration: underline;
    font-family: fantasy;
}

h1 {
    font-family: menlo;
}

.devour-burger, .delete-item {
    background: #3D7DB4; 
    color: white; 
    font-size: 100%;
    cursor: pointer;
    letter-spacing: 0.21px;
    padding: 4px 10px;
    margin-top: 1%;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear; 
}

.devour-burger:hover, .delete-item:hover {
    background: #366596;
}

#burger_name {
    font-size: 16pt;
}

